@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-bg: #EFF5FF;
}

body {
  font-size: 0.75rem;
  font-style: normal;
  line-height: normal;
  font-feature-settings: 'clig' off, 'liga' off;
}

#root {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-bg);
}

@font-face {
  font-family: 'Ubuntu';
  src: url(./assets/fonts/Ubuntu-Regular.ttf) format('truetype');
}